root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,ps1}]
indent_style = tab

[*.{js,ts,css,scss,json,yml,yaml,html,md,csproj,Build.props,Build.targets,props}]
indent_style = space
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent
